<%#  What ever we want to be on everysingle page we put here %>

<!DOCTYPE html>
<html>
  <head>
  <%# append yield an dpass it a value that we declared... if there is a html_title for a game we will display that on the top tab if not Haris games project will display
  -	Changing something dynamically on screen %>
    <title><%= yield(:html_title) + "-" if content_for?(:html_title)%> Haris Games Project! </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <%# Headercan go here, all the pages will have this.... %>
    <section class="section box">
      <div class="buttons box">
        <h1 class="button is-dark"><%= link_to 'Games & Publishing Companies', root_path %></h1>
        <h1 class="button is-dark"><%= link_to "Games", games_path %></h1>
        <h1 class="button is-dark"><%= link_to "Publishers", publisher_companies_path %></h1>
        <%# Attempt Bread Crumb..  just delete <%#  %>
        <%# <h3> Haris Games Project! > <%= yield(:html_title) + "-" if content_for?(:html_title)%>
        </div>

          <%= form_with(url: search_games_path, method: :get, local: true) do %>
          <div class="field is-grouped mb-5">
            <div class="control is-expanded">
              <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search For Games') %>
            </div>
            <div class="control">
              <%= submit_tag("Search", class: "button is-primary") %>
            </div>
          </div>
        <% end %>

    <%= yield %>

    <% if controller_name == 'home' %>
      <%# <h1>What a Beautiful Page!</h1> %>
       <%= render partial: 'common/my_game'%>

    <% else %>
      <%= render partial: 'common/footer' %>
    <% end %>

    </section>
  </body>
</html>
