<%#  What ever we want to be on everysingle page we put here %>

<!DOCTYPE html>
<html>
  <head>
  <%# append yield an dpass it a value that we declared... if there is a html_title for a game we will display that on the top tab if not Haris games project will display
  -	Changing something dynamically on screen %>
    <title><%= yield(:html_title) + "-" if content_for?(:html_title)%> Haris Games Project! </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <%# Headercan go here, all the pages will have this.... %>
    <section class="section">
      <div class="container">
        <h1 class="title is-1"><%= link_to 'Top Games views>layouts>application.html', root_path %></h1>
        <%# Attempt Bread Crumb..  just delete <%#  %>
        <%# <h3> Haris Games Project! > <%= yield(:html_title) + "-" if content_for?(:html_title)%>
        </div>



    <%= yield %>

    </section>
  </body>
</html>
